MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_DATABASE_USER=flask_user
MYSQL_DATABASE_PASSWORD=change-this-password
MYSQL_DATABASE_DB=bucketlist
MYSQL_DATABASE_HOST=db
FLASK_SECRET_KEY=change-this-secret-key